body{
background: radial-gradient(white,grey, black);
background-size:contain;
}
header{
  position: sticky;
  top:1%;
  z-index: 1;
}
a{
text-decoration: none;
color: black;
}
#L{
border-left:solid;
border-right:solid;
border-color:white;
border-width:1px;
width:10%;
display:inline-block;
background-color:black;
position:sticky;
top:1%;
z-index:1;
}
#L:hover{
box-shadow: 1px 1px 22px black;
z-index: 1;
}
#Présentation{
margin-bottom:-3;
margin:6%;
}
#Date{
float:right;
margin-right: 2%;
}
#objet{
margin:3%;
}
#texte{
margin:3%;
}
.container{
  position:relative;
  margin-top:2.5%;
  left:25.8%;
  width:48%;
  height:auto;
  border:solid;
  background-color:white;
}
.navigation{
text-align:center;
position: sticky;
top:1%;
z-index: 1;
}
.nav{
color:white;
text-align: center;
}
.blocktext{
text-align: center;
}
