 body{
background: radial-gradient(white,grey, black);
background-size:contain;
}
a{
text-decoration: none;
color: black;
}
.container{
margin-top:2.5%;
margin-right:15%;
margin-left:15%;
box-shadow: 1px 1px 12px black;
border:solid;
border-width: 1px;
background-color: white;
}
#Présentation{
margin-bottom:-3;
margin:6%;
}
#Date{
float:right;
margin-right: 2%;
}
#objet{
margin:3%;
}
#texte{
margin:3%;
}
#signature{
margin:3%;
}
#P{
border-left:solid;
border-right:solid;
border-color: white;
border-width:1px;
width:10%;
display:inline-block;
background-color: black;
position: sticky;
top:1%;
z-index: 1;
}
#P:hover{
box-shadow: 1px 1px 22px black;
z-index: 1;
}
.navigation{
text-align:center;
position: sticky;
top:1%;
z-index: 1;
}
.nav{
  color:white;
  text-align: center;
}
.blocktext{
text-align: center;
}
