@media(min-width: 768px) and (max-width: 1366 px){
body{
background: radial-gradient(white,grey, black);
background-size:contain;
}
header{
  position: sticky;
  top:1%;
  z-index: 1;
}
a{
text-decoration: none;
color: black;
}
nav{
  width:100%;
  margin: 0 auto;
  background-color:black;
  position:sticky;
  top:0px;
  box-shadow:0px 1px 2px white;
  z-index: 1;
}
nav ul{
  list-style-type:none;
}
nav ul li{

  float:left;
  width:25%;
  text-align:center;
  position:relative;
}

nav ul::after{
  content:"";
  display:table;
  clear:both;
}

nav a{

  display:block;
  text-decoration:none;
  color:black;
  border-bottom:2px solid transparent;
  padding: 10px 0px;
  color:white;
}
nav a:hover{
  color:gold;
  border-bottom: 2px solid gold;
}
.sous{
  display: none;
  box-shadow:0px 1px 2px gold;
  background-color:black;
  position:absolute;
  width:100%;
  z-index:1000;

}
nav > ul li:hover .sous{
  display:block;
}
.sous li{
  float: none;
  width: 100%;
  text-align:left;

}
.sous a{
  padding: 10px;
  border-bottom: none;

}
.sous a:hover{
  border-bottom:none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:"▼";
  font-size:12px;
}
.lien{
text-decoration: underline dotted;
text-align: center;
}
.lien:hover{
font-weight: bold;
text-shadow:0 0 2px purple,0 0 30px purple,5px 9px 5px #333, 0 0 150px purple;color:purple;
color:purple;
}
#Présentation{
margin-bottom:-3;
margin:6%;
z-index:0;
}
#Date{
float:right;
margin-right: 2%;
z-index:0;
}
#objet{
margin:3%;
z-index:0;
}
#texte{
margin:3%;
z-index:0;
}
.container{
  position:relative;
  margin-top:2.5%;
  left:25.8%;
  width:48%;
  height:auto;
  border:solid;
  background-color:white;
  z-index:0;
}

.blocktext{
text-align: center;
}
#d1{
  background-color: #EECC4499;
  display:none;
}
#d2{
  background-color: #44EEAA99;
  display:none;
}
#d3{
  background-color: #67DD2542;
  display:none;
}
}
body{
background: radial-gradient(white,grey, black);
background-size:contain;
}
header{
  position: sticky;
  top:1%;
  z-index: 1;
}
a{
text-decoration: none;
color: black;
}
nav{
  width:100%;
  margin: 0 auto;
  background-color:black;
  position:sticky;
  top:0px;
  box-shadow:0px 1px 2px white;
  z-index: 1;
}
nav ul{
  list-style-type:none;
}
nav ul li{

  float:left;
  width:25%;
  text-align:center;
  position:relative;
}

nav ul::after{
  content:"";
  display:table;
  clear:both;
}

nav a{

  display:block;
  text-decoration:none;
  color:black;
  border-bottom:2px solid transparent;
  padding: 10px 0px;
  color:white;
}
nav a:hover{
  color:gold;
  border-bottom: 2px solid gold;
}
.sous{
  display: none;
  box-shadow:0px 1px 2px gold;
  background-color:black;
  position:absolute;
  width:100%;
  z-index:1000;

}
nav > ul li:hover .sous{
  display:block;
}
.sous li{
  float: none;
  width: 100%;
  text-align:left;

}
.sous a{
  padding: 10px;
  border-bottom: none;

}
.sous a:hover{
  border-bottom:none;
  background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
  content:"▼";
  font-size:12px;
}
#Présentation{
margin-bottom:-3;
margin:6%;
z-index:0;
}
#Date{
float:right;
margin-right: 2%;
z-index:0;
}
#objet{
margin:3%;
z-index:0;
}
#texte{
margin:3%;
z-index:0;
}
.container{
  position:relative;
  margin-top:2.5%;
  left:25.8%;
  width:48%;
  height:auto;
  border:solid;
  background-color:white;
  z-index:0;
}

.blocktext{
text-align: center;
}
#d1{
  background-color: #EECC4499;
  display:none;
}
#d2{
  background-color: #44EEAA99;
  display:none;
}
#d3{
  background-color: #67DD2542;
  display:none;
}
.lien{
text-decoration: underline dotted;
text-align: center;
}
.lien:hover{
font-weight: bold;
text-shadow:0 0 2px purple,0 0 30px purple,5px 9px 5px #333, 0 0 150px purple;color:purple;
color:purple;
}
